@model IEnumerable<OdeToBikes.Models.Manufacturer>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bicycle Archive</h1>
    <p class="lead">Who doesn't like bikes? It's a no brainer. It's an ode to bikes.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.Location, @item.Models</div>
        <hr/>
    </div>
}